
<section class="personal_account_page">
    <div class="container">
        <div class="account_box">

            <div class="content_personal_account">
                <div class="head">Регистрация</div>
                <div class="form_box">
                    <form action="" id="sign-up" class="form_order">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="full_name">ФИО:</label>
                                <input type="text" name="username" class="full_name" id="username" placeholder="Иванов Иван Иванович">
                            </div>

                            <div class="col-md-6">
                                <label for="phone">Номер телефона</label>
                                <input type="tel" name="phone" class="phone" id="phone" placeholder="+38 (067) 562 11 22">
                            </div>

                            <div class="col-md-6">

                                <label for="email">E-mail</label>
                                <input type="email" name="email" class="email" id="email" placeholder="IvanovInav@gmail.com">

                            </div>

                            <div class="col-md-6">
                                <label for="password">Пароль</label>
                                <input type="password" name="password" class="password" id="password" placeholder="wefwefewfwef">
                            </div>



                            <div class="col-sm-12 col-md-12">
                                <button type="submit" class="btn_save_changes js-registration">Зарегестрироваться</button>
                                <span class="js-registration-answer"></span>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>
</section>